* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f7fb;
    color: #222;
}

/* NAVBAR */
.navbar {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #0b5394;
}

.logo img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0b5394;
    font-weight: 500;
}

.navbar i {
    font-size: 22px;
    color: #0b5394;
    margin-left: 16px;
}

/* RULES */
.policies {
  width: 900px;
  margin: 50px 0;
  justify-self: center;
}

.policies-header {
  background-color: #0a5c93;
  padding: 15px;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

.policies-header h2 {
  color: #fff;
  font-size: 22px;
}

.policies-card {
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.policy-item {
  display: flex;
  gap: 15px;
  padding: 18px 0;
  border-bottom: 1px solid #e6e6e6;
}

.policy-item:last-child {
  border-bottom: none;
}


.dot {
  width: 12px;
  height: 12px;
  background-color: #0a5c93;
  border-radius: 50%;
  margin-top: 6px;
  flex-shrink: 0;
}


.policy-content h4 {
  font-size: 16px;
  color: #0a5c93;
  margin-bottom: 6px;
}

.policy-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* FOOTER */
footer {
    background: #073763;
    color: #fff;
    padding: 40px 20px 10px 0;
}

.footer-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-bottom: 20px;
    justify-items: center;
    align-content: center;
}

.footer-grid h4 {
    margin-bottom: 10px;
}

.footer-grid a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 6px;
}

footer p {
    font-size: 14px;
}

.copyright {
    height: 50px;
    background-color: #012242;
    color: #7f97ad;
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 16px;
    position: absolute;
}
