* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    background: #f2f6fb;
}

/* NAVBAR */
.navbar {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #0b5394;
}

.logo img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0b5394;
    font-weight: 500;
}

.navbar i {
    font-size: 22px;
    color: #0b5394;
    margin-left: 16px;
}

/* FORM */
.container {
    width: 100%;
    max-width: 550px;
    justify-self: center;
    margin: 42.5px 0;
}

.card {
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

.card h2 {
    margin-bottom: 20px;
    color: #1f3c88;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 550;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 11px;
    background: #0a5fb4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #084c90;
}

.status-card {
    background: #fffdfd;
    padding: 20px;
    border-radius: 8px;
    display: none;
}

.status-card h3 {
    margin-bottom: 10px;
    color: #1f3c88;
}

.status-card span {
    font-weight: bold;
}

.status-card p {
    margin-bottom: 6px;
    color: #333;
}


/* FOOTER */
footer {
    background: #073763;
    color: #fff;
    padding: 40px 20px 10px 0;
}

.footer-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-bottom: 20px;
}

.footer-grid h4 {
    margin-bottom: 10px;
}

.footer-grid a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 6px;
}

footer p {
    font-size: 14px;
}
.location{
    margin-left: 200px;
}
.quick-links{
    margin-left: 200px;
}
.contact-us{
    margin-left: 100px;
}
.copyright {
    height: 50px;
    background-color: #012242;
    color: #7f97ad;
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 16px;
    position: absolute;
}
